.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
node_modules/**
client/out/test/**
# server/node_modules/ # commenting this causes the server to not be found
src/test/**
testFixture/**
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
